html, textarea {
  color: #333333;
  font-family: 'Trebuchet MS',helvetica,serif;
}
ul.item-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1em;
  height: calc(100vh - 90px);
  position: fixed;
  overflow-x: scroll;
  top: 50px;
  padding-bottom: 40px;
  li.item-card {
    flex: 1 1 25%;
    min-width: 200px;
    max-width: 360px;
    padding: 1em;
    opacity: .25;
    box-shadow: -2px 2px 4px gray;
    p {
      white-space: wrap;
    }
    &.item-available {
      opacity: 1;
      box-shadow: blue;
    }
    &.item-hidden {
      display: none;
    }
    &.item-promised H3::before {
      content: "Promised: ";
      font-size: .6em;
    }
  }
  ul.image-list {
    overflow-x: scroll;
    display: flex;
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
    gap: 10px;
    img {
      max-width: 120px;
      height: 120px;
      object-fit: cover;
      cursor: pointer;
    }
  } 
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .35);
  box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}

.form-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(150, 150, 150, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  header {
    display: flex;
    justify-content: space-between;
    h3 {
      display: inline-block;
      margin: 5px 0;
    }
    span {
      padding: 5px;
      border: 2px solid cadetblue;
      border-radius: 3px;
      color: cadetblue;
      font-size: .9em;
      height: 1.3em;
    }
  }
}
.interest-form {
  display: flex;
  flex-direction: column;
  width: clamp(320px, 50vw, 740px);
  margin: 10vh auto;
  background-color: white;
  padding: 5vmin;
  gap: 1.2em;
  z-index: 50;
  label {
    display: flex;
    flex-wrap: wrap;
    .label-text {
      flex: 1 0 200px;
      margin: 0;
    }
    .input {
      width: 100%;
      font-size: 1.1rem;
      &.input-visited.empty {
        outline: red 2px solid;
      }
    }
    &.checkbox-section{
      p {
        flex: 1 0 100%;
      }
      label {
        display: block;
      }
      .item-ppu {
        opacity: .7;
        .checkbox-text::before {
          content: "Promised: ";
          font-size: .7em;
        }
      }
      &.invalid {
        outline: red 2px solid;
        p {
          color: darkred;
          font-weight: bold;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        max-height: 33vh;
        overflow-y: auto;
        flex-wrap: wrap;
        margin: .5em 1em 0;
        li {
          display: inline-block;
          flex: 1 0 200px;
          max-width: 210px;
          line-height: 1.1;
        }
      }
    }
  }
}
button {
  width: 275px;
  box-shadow: none;
  border: none;
  background-color: cadetblue;
  color: white;
  padding: .3em;
  font-size: 1.1em;
  align-self: center;
  margin: 5px calc(50% - 137.5px);
  &[disabled] {
    background-color: lightgray;
  }
}
body.noscroll {
  overflow: hidden;
}